{%extends 'items/base.html'%}
{%block content2%}
{%load static%}
      
    {%if not success%}
    <center><h1 class="center">BOOK YOUR TOUR</h1></center>
    <div class="book">
        <div>
             <p style="font-family:lobster;font-size:60px;color:orange;background-color:black;border-radius:2px 32px">T ime To Travel<img src="{%static "items/travel.svg"%}" height="150" width="150"></p>
        </div>
        <div style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between">
              <div>
                <p>check the destination_id before booking<a href='/agencies/' class="links">click</a></p>
                <form method='POST',action='.' style="background-color:rgb(51,51,225)">
                  {%csrf_token%}
                  
                  {{form.as_p}}
                  <button class="button" type='submit'>Submit</button>
                </form>
              </div>
              <div>
                  <ul>
                      <li>check destination_id before booking</li><hr>
                      <li>provide correct details</li><hr>
                      <li>you can cancel the booking within 24hours after booking</li><hr>
                  <ul>
              </div> 
          
        </div>

    
      </div>       

      {%else%}
          <p>successful</p>
          <h1>{{obj.name}}</h1>
          <h1>{{obj.Destination_id}}</h1>
          
          <p>your booking details are saved ,to check <a href="/booking_list/" class="links">click</a></p>
      {%endif%}    
{%endblock content2%}