{%extends "items/base.html"%}
{%block content%}
{%if not request.user.is_authenticated%}

<div class="form-container" >
    {%load static%}
    <img src="{%static "items/background.jpeg" %}">
    <p style="color:red;font-size:13px">LOGIN REQUIRED</p>
    <form method='POST' action='.' >
         {%csrf_token%}
         {{user.as_p}}
         <button class="button" type="submit">Login</button>
    </form>   

    <p class="line">If you not registered click here<a href="/register/" class="links">Register</a></p> 
</div>

{%else%}
    <p class="line">you are logged in ,do you want to <a href="/logout/" class="links">Logout</a></p>
{%endif%}    
{%endblock content%}